@use '../mixins/mixin' as*;
@use '../variables/variables' as*;


%img_bg{
    padding: 8px;
    border-radius: 4px;
}

main{
    grid-area: three;
    display: flex;
    .items{

        @for $i from 1 through 7{
            .item-#{$i}{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-inline: $p_21;
                margin-bottom: $p_21;
                margin-top: $p_10;
                border: 0.5px solid #8989896E;
                @include border-rad;
                padding: $p_10;
                @include inter;
                div{
                    padding-left: 53px;
                    padding-right: 76px;
                    p{
                        font-size: 20px;
                        font-weight: 600;
                    }
                    span{
                        font-size: 15px;
                        color: $gray;
                    };
                }
                .mob-numb{
                    padding-right: 72px;
                }
                .email{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21.78px;
                    color: $dark_gray;
                }
            }
        }
        
    }
    .contact{
        width: 30%;
        
        .profile{
            @include flex-center;
            flex-direction: column;
            margin-block: $m_80;
            .name{
                @include jua;
                padding-top: $p_5;
            }
            span{
                @include inter;
                color: $secondary_color;
            }
            img{
                box-shadow: 1px 1px 1px 0px #0000001A;
            }
        }

        .info{
            @include flex-center;
            @include jua;
            border-radius: 10px;
            background-color: #EEEEEE;
            width: 90%;
            margin: auto;
            div{
                flex-basis: 103px;
                text-align: center;
                color: $light_gray;
                padding-top: 7px;
                padding-bottom: 9px;
            }
            .bg-green{
                background-color: #44DE6FF0;
                margin: 1px;
                border-radius: 10px;
            }
        }
        ul{
            @include inter;
            @include list;
            margin-top: 35px;
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 15px;
                margin-bottom: $p_21;
                margin-inline: $p_21;
                div{
                    p{
                        color: $secondary_color;
                        padding-bottom: 3px;
                    }
                }
                span.phone{
                    @extend %img_bg;
                    background-color: #89F2A6A8;
                }
                span.unread-mail{
                    @extend %img_bg;
                    background-color: #F2E189A8;
                }
                span.chat{
                    @extend %img_bg;
                    background-color: #7FD1FFA8;
                }
            }
        }

    }
}