//colours
$primary-color: #08a0f7;
$light-primary-color: #e1f2fc;
$success-color: #34a770;
$light-success-color: #dcf3eb;
$danger-color: #f85640;
$light-danger-color: #fff8f8;
$white-color: #ffffff;
$purple: #7784ee;
$light-purple: #f6e9f8;
$dark-purple: #d459e8;
$green: #5dc983;
$yellow: #fba63c;
$dark-green: #46bd84;
$light-green: #ebf7f1;
$light-blue: #e7f6ff;
$light-light-blue: #daf1fe;
$red: #f85640;
$dark-red: #d13f2b;
$light-gray: #f4f7fc;
$dark-gray: #8a8a8a;
$dark-dark-green: #258859;
$light-attention: #fff8ef;
$border-color: #20385526;
$text-color: #cbcdd3;
$line-color: #ededed;
$baby-blue: #f0faff;
$text-main: #8d8d8d;
$text-dark-wrong: #79170a;
$text-attention: #e18109;
$text-dark-attention: #bc741a;
$text-success: #13854e;
$text-dark-success: #10673e;
$text-dark-primary: #3387b7;
$text-dark-black: #121212;
$text-color-gray: #a8a8a8;
$text-assign: #717070;
$text-date: #c9cbd0;
$primary-button: #5F6DDD;
$primary-bg: #D2D7FF;
$secondary-bg: #EAEEF6;
$progress-color: #33AC72;

//px
$p-5: 5px;
$p-28: 28px;
$p-12: 12px;
$p-13: 13px;
$p-20: 20px;
$p-22: 22px;
$p-23: 23px;
$p-25: 25px;
$p-24: 24px;
$p-32: 32px;
$p-40: 40px;
$p-10: 10px;
$p-16: 16px;
$p-18: 18px;
$p-34: 34px;
$p-36: 36px;
$p-8: 8px;
$p-4: 4px;
$p-21: 21px;
$p-30: 30px;
