//import variable
@use './variables/variables' as *;

//import header
@use './header/header';

//import aside
@use './aside/aside';

//import content
@use './content/content';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: "Jua";
    src: url(../fonts/Jua-Regular.ttf);
}


.container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 50% 25% ;
    grid-template-areas: 
    "one two two"
    "one three three" ;
}



