@use "../components/components" as *;

// @use '../shared/fonts' as*;

@use "../utils/mixins" as *;

@use "../shared/properties" as *;

.assign-card {
  margin-top: $p-40;
  padding-right: 40px;
  .assign-task-inner {
    background-color: $white-color;
    box-shadow: 0px 30px 60px 0px $border-color;
    padding-inline: $p-20;
    padding-block: $p-24;
    border-radius: $p-8;
    margin-bottom: $p-20;
    font-family: "Poppins-Medium";
  }
  .search {
    form {
      padding-inline: $p-28;
      div {
        width: 100%;
        background-color: $light-gray;
        border-radius: 200px;
        img {
          padding-block: $p-12;
        }
        input {
          background-color: $light-gray;
        }
      }
    }
    background-color: $white-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    padding-top: 34px;
    padding-bottom: 28px;
  }
  .search-option {
    padding-block: $p-12;
    padding-inline: $p-28;
    &:hover {
      background-color: $light-gray;
    }
    div {
      p {
        font-family: "Poppins-Medium";
      }
    }
    .task-number {
      font-family: "Poppins-Regular";
    }
  }
}

@media screen and (min-width: 992px){
    .search{
        form{
            div{
                width: 440px;
            }
        }
    }
}
