//colors
$main-color: #FFFFFF;
$secondary-color: #191919;
$yellow: #FEC430;
$light-yellow: #FFE7AC;
$gray: #A5A5A5;
$dark-gray: #797979;
$light-black: #4C4C4C;
$light-purple: #F1EFFD;
$Floral-white: #FFF9EA;
$purple: #755AE8;
$blue: #46368B;

//font-size
$f-size-26: 26px;
$f-weight-b: 900;
$f-weight-sm-l: 500;
$f-weight-sb: 700;
$f-weight-b: 900;
$line-h-26: 26.26px;
$line-h-24: 24px;
$line-h-30: 30px;
$line-h-49: 49px;
$f-size-17: 17px;
$f-size-24: 24px;
$f-size-20: 20px;
$f-size-32: 32px;
$f-size-18: 18px;
$f-size-36: 36px;


//paddings and margin
$p-36: 36px;
$p-80: 80px;
$p-24: 24px;
$p-44: 44px;
$p-19: 19px;
$p-25: 25px;
$p-17: 17px;
$p-21: 21px;
$p-8: 8px;
$p-7: 7px;
$p-6: 6px;
$p-16: 16px;
$p-9: 9px;
$p-40: 40px;
$p-20: 20px;
$p-18: 18px;
$p-15: 15px;
$p-29: 29px;
$p-14: 14px;
$p-31: 31px;
$p-11: 11px;
$p-62: 62px;
$p-65: 65px;
$p-76: 76px;
$p-12: 12px;
$p-48: 48px;
$p-64: 64px;
$p-28: 28px;
$p-32: 32px;



