$green: #55C875;
$light_green: #44DE6FF0;
$main_text: #000000;
$secondary_color: #7C7C7C;
$light_gray: #555555;
$gray: #636363;
$dark_gray: #696969;
$p_26: 26px;
$p_19: 19px;
$p_8: 8px;
$p_64: 64px;
$p_10: 10px;
$p_5: 5px;
$p_25: 25px;
$p_30: 30px;
$p_42: 42px;
$p_34: 34px;
$p_58: 58px;
$p_21: 21px;
$m_80: 80px;