//colors
$main-color: #4F008C;
$white-color: #FFFFFF;
$black-color: #000000;
$gray-color: #8E9AA0;
$light-gray: #f7f7f7;
$red-color: #FF375E;
$primary-gray: #F6F6F6;
$secondary-gray: #F3F3F1;
$hover-bg: #420374;





//pixels
$p-3: 3px;
$p-5: 5px;
$p-7: 7px;
$p-8: 8px;
$p-13: 13px;
$p-14: 14px;
$p-17: 17px;
$p-16: 16px;
$p-32: 32px;
$p-20: 20px;
$p-24: 24px;
$p-29: 29px;
$p-23: 23px;
$p-28: 28px;
$p-21: 21px;
$p-31: 31.3px;
$p-38: 38.4px;
$p-36: 36px;
$p-48: 48px;
$p-6: 6px;
$p-50: 50px;
$p-60: 60px;
$p-30: 30px;
$p-22: 22px;
$p-34: 34px;
$p-28: 28px;
$p-60: 60px;
$p-80: 80px;
$p-11: 11px;
$p-19: 19px;
$p-336: 336px;
$p-288: 288px;
$p-40: 40px;
$p-62: 62px;

