@use '../mixins/mixin' as*;
@use '../variables/variables' as*;



header{
    grid-area: two;
    display: flex;
    justify-content: space-between;
    margin-top: $p_19;
    margin-left: $p_34;
    margin-right: $p_42;
    padding-right: $p_58;
    padding-block: $p_25;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        background-color: #edeaea;
        height: 1px;
        bottom: 0;
        left: -35px;
    }
    h2{
        @include jua;
    }
    div{
        display: flex;
        .img-span{
            display: flex;
            align-items: center;
            padding: 8px;
            background-color: #D9D9D994;
            box-shadow: 2px 2px 2px 0px #00000021;
            @include border-rad;
        }
        button{
            border: none;
            background-color: $green;
            margin-left: $p_21;
            @include border-rad;
            div{
                @include flex-center;
                padding: 8px;
                span{
                    padding-left: 5px;
                }
            }
        }
    }
}
